CXFBootStarterSoapWebService/src/main/resources/serviceBean.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/serviceBean" xmlns:tns="http://www.example.org/serviceBean" elementFormDefault="qualified">
    <complexType name="message">
    	<sequence>
    		<element name="msg" type="string"></element>
    		<element name="name" type="string"></element>
    	</sequence>
    </complexType>
</schema>